pre {
	/* white-space: pre-; */
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	-webkit-tab-size: 4;
	background-color: transparent !important
}

li ul > li { list-style: none; }

.code-sample .nav-link:not(.active) {
	background-color: #f0efef !important
}
.code-sample .nav-link:not(.active):hover {
	background-color: #dae0e5 !important
}

pre.prettyprint { overflow: hidden; }